body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.nav-bar-container{
  position: sticky;
  /* border: 1px solid black; */
  top: 0;
  background-color: white;
  z-index: 1000;

}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 0;
}



.nav-bar .links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.navigation{
  display: flex;
  gap: 40px;
}

.navigation a{
  text-decoration: none;
  color: #6F7FA3;
}


.nav-buttons{
  display: flex;
  gap: 20px;
}

.nav-buttons button{
  border: none;
  border-radius: 20px;
  background-color: #2260FF;
  padding: 10px;
  color: white;
  align-self: center;
  opacity: 1;
}

.nav-buttons .signUp{
  border-radius: 20px;
  background-color: #032B69;
  padding: 10px;
  color: white;
}

.hamburger{
  display: none;
}

.container{
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding:0 3rem;
  
}

.first{
  display: flex;
  justify-content: space-between;
}

.first div h2{
  font-size: 3.75rem;
  color: #032b69;
}

span{
  color: #2260FF;
}

.first .first-write-up{
  max-width: 600px;
}

.first p{
  color: #6F7FA3;

  line-height: 1.5rem;
}


.video-container{
  max-height: 600px;
  max-width: 400px;
  position: relative;
}

.video{
  width: 100%;
    object-fit: cover;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    height: 100%;
    border-radius: 25px;
}

.Section2-pTag{
  font-size: 2rem;
  color: #032B69;
  font-weight: bold;
  padding-top: 5rem;
  padding-bottom: 3.5rem;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.section3-div{
  background-color: #032B69;
  display: flex;
  justify-content: space-evenly;
  max-height: fit-content;
}

.section3-container{
  display: flex;
  justify-content: space-between;
}

.section3-text{
  max-width: 591px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #00f #fff;
}

.section3-text h2{
  font-size: 3.3rem;
}

.section3-text p{
  font-size: 20px;
  line-height: 25px;
}

.section3-text h2, .section3-text p {
  margin: 0 0 10px 0;
}

.section3-text ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
  line-height: 2;
}

.section3-text ul li{
  font-size: 24px;
  font-weight: 400;
  opacity: 0.5;
  transition: opacity 0.5s, font-weight 0.5s;
}

.section3-text ul li.highlighted {
  opacity: 1;
  font-weight: bold;
}




.section4 h3{
  font-size: 48px;
  color: #032B69;
  text-align: center;
}

.section4 p{
  text-align: center;
  color: #6F7FA3;
}

.multiple-icons{
  display: grid;
  grid-template-columns: repeat(3, 381px);
  gap: 1rem;    
}

.multiple-icons div{
  padding: 5%;
  display: flex;
  align-items: center;
  -moz-box-shadow: 0px 3px 8px #F2F4F6;
  -webkit-box-shadow: 0px 3px 8px #F2F4F6;
  box-shadow: 0px 3px 8px #F2F4F6;
  
}

.scoop{
  /* border: 2px solid green; */
  border-radius: 50px;
  padding: 20px;
  /* display: flex; */
}

.one{
  color: #DAA71A;
  background: #FFF4D8;
}

.two{
  color: #DF5000;
  background: #FFE0CF;

}

.three{
  color: #00A398;
  background: #D8FAF8;
}

.four{
  color: #6D6DFF;
  background: #EAEAFF;
}

.five{
  color: #8D40F0;
  background: 
  #ECDEFF;
}

.six{
  color: #C63DC9;
  background: 
  #FED4FF;
}

.seven{
  color: #DD9932;
  background: 
  #FFE7C2;
}

.eight{
  color: 
  #F03EA9;
  background: 
  #FFEAF7;
}

.nine{
  color: #90B132;
  background: #FFEAF7;
}

.CAC{
  font-size: large;
  color: #032B69;
  ;
}

.fifth-cover{
  background-color: #F7FAFF;
}

.fifth{
  display: flex;
  justify-content: space-between;
  padding-top: 112px;
  padding-bottom: 112px;
  gap: 60px;
}

.fifth h3{
  font-size: 48px;
  color: #032B69;
}

h5{
  color: #032B69;
  font-size: large;
}

.fifth p{
  color: rgb(111 127 163);
}

.fifth-subflex{
  display: flex;
}

.fifth-img-container{
  max-width: fit-content;
  max-height: fit-content;
}

.fifth-img{
  width: 100%;
  height: 100%;
}

.sixth{
  display: flex;
  flex-direction: row;
  padding-top: 112px;
  background-color: #2260FF;
}

.sC{
  
}

.sixth-text-container{
  font-size: medium;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sixth-text-container p{
  color: white;
}

h4{
  font-weight: 700;
  font-size: 3.75rem;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}



.seventh-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}

.seventh-grid h3{
  color: #032b69;
}

.seventh-grid li{
  color: #6F7FA3;
}


.seventh-grid p{
  color: #6F7FA3;
}

.seventh > div {
  padding: 10px;
}



li{
  list-style: none;
}

.social-media{
  display: flex;
  gap: 20px;

}

.head-line{
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  color: white;
  overflow: hidden;
}

.last-section p{
  color: #6F7FA3;
  font-size: 0.875rem;
}

.mobile-phone-nav{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-phone-nav a{
  text-decoration: none;
  color: #032b69;
  font-size: medium;
}




@media (min-width: 1024px){
  .first-write-up{
      max-width: 600px;
  }
}
@media (max-width: 1024px){
  .first{
      display: flex;
      flex-direction: column;
      gap: 5rem;
  }
  .container{
      max-width: 72rem;
  }

  .section3-div{
    gap: 2rem;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .video-container{
      max-height: fit-content;
      max-width: 400px;
      align-self: center;
  }
  .first-write-up{
      align-self: center;
      text-align: center;
  }
  .download{
      display: flex;
      justify-content: center;
  }
  .fifth{
      flex-direction: column-reverse;
      gap: 3.5rem;
  }
  .fifth-subflex{
      grid-template-columns: repeat(1, auto);
  }
  .fourth{
      flex-direction: column-reverse;
      gap: 3.5rem;
  }

  .sixth{
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .seventh-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
}
}
@media (min-width:800px) and (max-width: 1024px){
  .video{
      max-width: 100%;
  }
  .seventh-grid{
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 5rem;
  }

  .first-write-up{
      font-size: 3.75rem;
      color: #032B69;
      margin-top: 100px;
      text-wrap: wrap;
  }

  .first-write-up p{
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
  }
  .multiple-icons{
      grid-template-columns: repeat(2, 23rem);
  }
  .first-write-up h2{
      text-align: center;
      font-size: 3.75rem;
      line-height: 1;
  }
   
  .section3-div{
      /* padding-top: 128px; */
      flex-direction: row-reverse;
      overflow: hidden;
      align-items: end;
  }
  .iphone-13-Pro{
      margin-right: -348px;
  }

  .fifth-img{
      width: 100%;
  }
  .fifth-cover div p {
      letter-spacing: -.03em;
  }
}
@media  (max-width: 800px){
  .navigation {
      display: none;
  }
  
  /* .nav-buttons{
      display: none;
  } */

  .hamburger{
      display: block;
      /* align-self: center;
      color: black; */
  }
  .first-blue{
      max-height: fit-content;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
  }
  .blue-container-write {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .blue-container-h2p{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .blue-para{
      text-align: center;
  }
  .bH {
      font-size: 2.25rem;
      font-weight: 700;
      color: white;

  }
  .multiple-icons{
      grid-template-columns: repeat(1, 381px);
      justify-content: center;
  }
  .final{
      display: grid;
      grid-template-columns: repeat(1, auto);
      gap: 5rem;
  }
  .hamburger {
    display: block;
    align-self: center;
    color: black; 
}

  .navigation, .nav-buttons {
      display: none; /* Hide regular nav on mobile */
  }

  .mobile-hamburger-container {
      display: block;
      transition: max-height 0.7s ease-out;
  }

  .mobile-hamburger-container.show {
      display: block; /* Show the mobile menu when open */
  }

  .seventh-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6px;
  }

  .seventh-grid h3 {
    font-size: xx-large;
    color: #032b69;
  }

}
